html {
    scrollbar-gutter: stable;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        margin: 0 30px;
    }

        nav ul li a {
            text-decoration: none;
            font-size: 20px;
            color: #333;
            padding: 5px 10px;
            border: 1px solid transparent;
            border-radius: 5px;
            transition: background-color 0.3s, border-color 0.3s;
        }

            nav ul li a:hover {
                border-color: #333;
                background-color: #e7e7e7;
            }

.container {
    padding: 20px;
    scrollbar-gutter: stable;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-icon img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #0d6efd;
}

.last-update h2 {
    font-size: 1.2em;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-item {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    bottom: 0;
}
